
.basePlayer { 
    position: relative;
    text-align-last: center;
    height: 35%;
    padding-top: 1px;
}

img.albumImage { 
    height: 225px;
    position: relative;
    border: 5px solid black;
    display: inline-block;
}

.songInfo {
    padding: 10px;
}

.nextSongButton {
    position: absolute;
    top: 30%;
    right: 23%;
    background-color: rgba(0,0,0,0);
    border: none;
    background: transparent;
}

.nextSongButton:disabled {
   color: rgba(0,0,0,0);
}
.nextSongButton:active { 
    outline: none;
    background-color: none;
    color: none;
    transform: scale(.9);
}
.nextSongButton:focus {
    outline: none;
    background-color: none;
    background: transparent;
}

img.nextSongButton {
    border-color: rgba(0,0,0,0.2);
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius:50;
}

.imageAndWidgets{
    min-width: 650px;
    text-align: center;
    position: relative;
    width: 50%;
    left: 25vw;
    right: 75vw;
}