@media screen and (max-width: 20000px) {
    .sideBarWrapper {
        display: none;
    }
}

.sideBarWrapper {
    background-color: #282c34;
    border: 3px solid #282c34;
    display: flex;
    flex-direction: column;
    margin: 1%;
    width: 100%;
}